.app-container {
  padding: 20px;
}

.add-speaker-btn {
  padding: 0px, 8px, 0px, 8px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  width: 120px;
  border: none;
  height: 42px;
  background-color: #e4875d;
  margin-left: 200px;
}

.add-speaker-header {
  margin-left: 200px;
}
